html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "GeneralSans";
  scroll-behavior: smooth;
}

.art {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 60vh;
  height: 60vh;
  transform: translate(-50%, -50%);
}
.art img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pane {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pane .work {
  cursor: pointer;
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: 0;
  transition: opacity 0.5s;
}
.pane .work table {
  width: 100%;
}
.pane .work .index {
  font-size: 8rem;
  font-weight: 600;
  text-align: center;
}
.pane .work .name-fix {
  display: flex;
  flex-direction: column;
  height: 55%;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.pane .work .name-fix .name {
  margin: 0;
  height: 55%;
  writing-mode: sideways-lr;
  font-size: 5rem;
  font-weight: 400;
  text-wrap: nowrap;
}

.content {
  border-radius: 18px 18px 0px 0px;
  position: relative;
  top: 100dvh;
  width: 100vw;
  background-color: white;
  padding-bottom: 3rem;
}
.content .subcontent h1 {
  font-weight: 300;
  font-size: 3rem;
  padding-top: 2rem;
  padding-left: 3rem;
  margin: 0;
}
.content .subcontent h2 {
  font-size: larger;
  font-weight: 400;
  margin: 0;
  padding-left: 3rem;
}
.content .subcontent table {
  padding-top: 24px;
  padding-left: 3rem;
  padding-right: 3rem;
}
.content .subcontent table .text {
  padding-right: 2rem;
}
.content .subcontent img {
  border-radius: 8px;
}
.content .subcontent .iframe-center {
  padding-top: 24px;
  display: flex;
  justify-content: center;
}
.content .subcontent .iframe-center iframe {
  border-radius: 8px;
  overflow: hidden;
}

@font-face {
  font-family: "GeneralSans";
  src: url("./public/fonts/GeneralSans-Extralight.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GeneralSans";
  src: url("./public/fonts/GeneralSans-ExtralightItalic.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "GeneralSans";
  src: url("./public/fonts/GeneralSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GeneralSans";
  src: url("./public/fonts/GeneralSans-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "GeneralSans";
  src: url("./public/fonts/GeneralSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GeneralSans";
  src: url("./public/fonts/GeneralSans-Italic.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "GeneralSans";
  src: url("./public/fonts/GeneralSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GeneralSans";
  src: url("./public/fonts/GeneralSans-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "GeneralSans";
  src: url("./public/fonts/GeneralSans-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GeneralSans";
  src: url("./public/fonts/GeneralSans-SemiboldItalic.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "GeneralSans";
  src: url("./public/fonts/GeneralSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GeneralSans";
  src: url("./public/fonts/GeneralSans-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "GeneralSans";
  src: url("./public/fonts/GeneralSans-Variable.woff2") format("woff2");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GeneralSans";
  src: url("./public/fonts/GeneralSans-VariableItalic.woff2") format("woff2");
  font-weight: 200 700;
  font-display: swap;
  font-style: italic;
}
